---
import type { FORM_ACTIONS, FORM_SUBJECTS } from '@pdcstrrss/ui';

type Props = {
  form: {
    action?: string;
    method: 'get' | 'post';
    target?: string;
    enctype?: string;
    autocomplete?: string;
    novalidate?: boolean;
  };
  action: FORM_ACTIONS;
  subject: FORM_SUBJECTS;
  error?: string;
};

const props = Astro.props as Props;
---

<form {...props.form}>
  {
    props.error && (
      <div data-alert data-alert-danger>
        {props.error}
      </div>
    )
  }
  <input type="hidden" name="action" value={props.action} />
  <input type="hidden" name="subject" value={props.subject} />
  <slot />
</form>
