---
import type { FORM_ACTIONS, FORM_SUBJECTS } from 'libs/ui/src';

type Props = {
  form: {
    action?: string;
    method: 'get' | 'post';
    target?: string;
    enctype?: string;
    autocomplete?: string;
    novalidate?: boolean;
  };
  action: FORM_ACTIONS;
  subject: FORM_SUBJECTS;
};

const props = Astro.props as Props;
---

<form {...props.form}>
  <input type="hidden" name="action" value={props.action} />
  <input type="hidden" name="subject" value={props.subject} />
  <slot />
</form>

<script>
  document.getElementsByTagName('form')[0].addEventListener('submit', (e) => {
    const form = e.target as HTMLFormElement;
    const submitBtns = form.querySelectorAll('[data-text-content-on-submit]');
    submitBtns.forEach((btn) => {
      btn.setAttribute('disabled', 'disabled');
      btn.textContent = btn.getAttribute('data-text-content-on-submit');
    });
  });
</script>
