---
import { EpisodeList } from '@pdcstrrss/ui';
import { ROUTES } from '@/lib/useRoutes';
import Layout from '@/layouts/Layout.astro';
import { getEpisodes, updateEpisodes } from '@/lib/useEpisodes.server';
import { usePaginationFilters } from '@/lib/usePagination';
import { getUserFromRequest } from '@/lib/useUser';

const { request, redirect } = Astro;
const { url, method } = request;

const user = await getUserFromRequest({ request });
if (!user) return redirect(ROUTES.login);

if (method === 'POST') await updateEpisodes({ request, user });
const data = await getEpisodes({ url, user });
const { Pagination, itemsPerPage, currentPage, urlTransformer } = usePaginationFilters({
  ...data,
  url,
});
---

<Layout>
  <div class="page container container-md">
    <header class="page-header sr-only">
      <h1 class="page-header-title">Episodes</h1>
    </header>
    {
      (data?.episodes.length || 0) > 0 ? (
        <>
          <EpisodeList episodes={data?.episodes || []} />
          <Pagination
            currentPage={currentPage}
            totalAmountOfItems={data?.totalCount || 0}
            itemsPerPage={itemsPerPage}
            urlTransformer={urlTransformer}
          />
        </>
      ) : (
        <div class="card">No episodes found.</div>
      )
    }
  </div>
</Layout>
