:root {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --foreground-color: var(--color-slate-700);
  --foreground-color-intense: var(--color-slate-900);
  --foreground-color-mild: var(--color-slate-600);

  --background-color-intense: #ffffff;
  --background-color: var(--color-slate-50);
  --background-color-mild: var(--color-slate-100);

  --space: 1.5rem;
  --border-width: 2px;
  --border-color: var(--foreground-color);

  --font-family-base: "Inter", sans-serif;

  --brand-primary: #5800ff;
  --brand-primary-contrast: #ffffff;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family-base: "Inter var", sans-serif;
  }
}

body {
  font-family: var(--font-family-base);
  line-height: 1.66;
  color: var(--foreground-color);
  background-color: var(--background-color-mild);
  margin: 0 auto;
  max-width: 700px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--foreground-color-intense);
  letter-spacing: -0.025em;
}

[data-page-index] {
  display: flex;
  gap: var(--space);
  flex-direction: column;
  padding: var(--space);
}

svg {
  color: currentColor;
}

svg[data-icon] {
  fill: currentColor;
}

a {
  color: var(--foreground-color);
}

a:hover,
a:focus {
  display: inline-block;
  color: var(--brand-primary-contrast);
  background-color: var(--brand-primary);
  padding: 0 0.25em;
  margin: 0 -0.25em;
}
