---
import { getUser } from '@astro-auth/core';

export interface Props {
  title: string;
}

const { title } = Astro.props;

const user = getUser({ client: Astro });
---

<header>
  {
    user ? (
      <button id="logout" type="button">
        Logout
      </button>
    ) : (
      <a href="/api/auth/login">Login</a>
    )
  }

  {JSON.stringify(user)}
</header>

<script>
  import { logout } from '../lib/useAuth';
  document.getElementById('logout')?.addEventListener('click', logout);
</script>

<h1>{title}</h1>
