---
import '@pdcstrrss/ui/src/styles/styles.global';
import clsx from 'clsx';
import defaultsDeep from 'lodash/defaultsDeep';
import { AppHeader, SvgSprite, AppFooter } from '@pdcstrrss/ui';
import { getUser } from '@astro-auth/core';

interface Props {
  hero?: boolean;
  header?: boolean;
  footer?: boolean;
}

const defaultBaseLayoutProps: Partial<Props> = {
  hero: false,
  header: true,
  footer: true,
};

const { header, footer, hero } = defaultsDeep({}, Astro.props, defaultBaseLayoutProps);
const user = getUser({ client: Astro });
if (user && Astro.cookies.has('pdcstrrss.redirect')) {
  Astro.cookies.delete('pdcstrrss.redirect');
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.pdcstrrss.app" crossorigin/>

    <slot name="head" />
  </head>

  <body class={clsx({ 'body-with-hero': !!hero })}>
    <SvgSprite />
    {header && <AppHeader {...{ user, inverted: hero }} />}
    <main>
      <slot />
    </main>
    {footer && <AppFooter />}
  </body>
</html>
