[data-page-index] {
  display: flex;
  gap: var(--space);
  flex-direction: column;
  padding: var(--space);
}

[data-anonymous-index] {
  text-align: center;
  display: flex;
  gap: var(--space);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: calc(100vh - var(--space) * 2);
}
