:root {
  --episode-icon-size: calc(var(--space) * 2);
}

[data-episode] {
  display: grid;
  grid-template:
    "title title" auto
    "meta button" auto / 1fr auto;
  align-items: center;
  gap: calc(var(--space) / 2);

  border: var(--border-width) solid var(--border-color);
  outline: var(--border-width) solid var(--background-color-mild);
  padding: var(--space);
  margin: -2px;
  box-shadow: calc(var(--border-width) * 2) calc(var(--border-width) * 2) 0 0 var(--foreground-color-intense);
  background: var(--background-color-intense);
}

[data-episode-title] {
  margin: 0;
  font-size: 1.5rem;
  grid-area: title;
}

[data-episode-meta] {
  margin: calc(var(--episode-icon-size) / -6) 0;
  line-height: 1;
  grid-area: meta;
  display: flex;
  gap: var(--space);
  align-items: center;
}

[data-episode-datetime] {
  white-space: nowrap;
}

[data-episode-media-button] {
  grid-area: button;
}

[data-episode-media-icon] {
  width: var(--episode-icon-size);
  height: var(--episode-icon-size);
}
