[data-authenticated-feeds-form-footer] {
  position: fixed;
  inset-block-end: 0;
  inset-inline: 0;
  padding: var(--space);
  background: var(--background-color);
  border-top: var(--border-width) solid var(--border-color);
}

[data-authenticated-feeds-form-footer-container] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space);
}
